body{h1{
    text-align: center;
}
h2{
  text-align: center;
}
h3{
    text-align: center;
}
h4{
  text-align: center;
}}

body{background-color: #272d30;
  color: #353131;}
.lñ{background-color: #bdd1fd;
  color: black;}
.img1{text-align: center
  ;}