body{h1{
    text-align: center;
}
h2{
  text-align: center;
}
h3{
    text-align: center;
}
h4{
  text-align: center;
}}

body{background-color: #272d30;
  color: #353131;}
.lñ{background-color: #d6dae2;
  color: rgb(161, 119, 119);}
.img1{text-align: center
  ;}

  .titulo1{background-color: black;
color: whitesmoke;
font-size: 200%;
text-align: center;}

.texto1{background-color: black;
    color: whitesmoke;
    font-size: 100%;
    text-align: center;}